<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:background="#f2f6f7"
	android:id="@+id/SettingsLayout">
	<TextView
		android:text="@string/myAccount"
		android:layout_marginLeft="20dp"
		android:layout_marginTop="20dp"
		android:textSize="12sp"
		android:textAppearance="?android:attr/textAppearanceMedium"
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:textColor= "@color/buttonBackgroud"
		android:id="@+id/myAccountTextView" />
	<LinearLayout
		android:orientation="vertical"
		android:minWidth="25px"
		android:minHeight="25px"	
		android:layout_marginTop="10dp"
		android:paddingLeft="20dp"
		android:paddingRight="20dp"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:background="@android:color/white"
		android:layout_below="@id/myAccountTextView"
		android:id="@+id/accountLinearLayout">
		<ImageView
			android:src="@drawable/myLogo"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/myLogoImageView" />
		<TextView
			android:text="@string/myName"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_marginTop="10dp"
			android:textColor= "@color/buttonBackgroud"
			android:layout_width="match_parent"
			android:textAlignment="center"
			android:layout_marginBottom="5dp"
			android:textSize="18sp"
			android:layout_height="wrap_content"
			android:id="@+id/myPhoneTextView" />
		<TextView
			android:text="@string/changeText"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:textColor="#2495cf"
			android:textSize="12sp"
			android:textAlignment="center"
			android:layout_height="wrap_content"
			android:id="@+id/changeNameTextView" />
		<LinearLayout
			android:orientation="vertical"
			android:minWidth="25px"
			android:layout_marginTop="10dp"
			android:minHeight="25px"
			android:visibility="gone"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/premiumLinearLayout">
			<TextView
				android:text="@string/premium"
				android:textColor="@color/buttonBackgroud"
				android:gravity="center"
				android:textSize="12sp"
				android:textAppearance="?android:attr/textAppearanceMedium"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:id="@+id/premiumTextView" />
			</LinearLayout>
		<Button
			android:text="@string/notificationControl"
		    android:layout_width="match_parent"
			android:layout_height="wrap_content"	
			android:layout_marginTop="10dp"
		    android:textAllCaps="false"
			android:textAlignment="textStart"
			android:textColor= "@color/buttonBackgroud"
			android:background="@android:color/white"
			android:id="@+id/notificationControlButton" />
		<LinearLayout
			android:orientation="vertical"
			android:layout_width="match_parent"
			android:minHeight="25px"
			android:visibility="gone"
			android:minWidth="25px"
			android:layout_height="wrap_content"
			android:id="@+id/notificationLinearLayout">
			<Switch
				android:text="@string/notificateWindow"
				android:layout_width="match_parent"
				android:layout_height="50dp"
				android:id="@+id/windowSwitch" />
			<Switch
				android:text="@string/notificateNotification"
				android:layout_width="match_parent"
				android:layout_height="50dp"
				android:id="@+id/notificationSwitch" />
		</LinearLayout>
		<Button
			android:text="@string/updateDb"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"

			android:textAllCaps="false"
			android:textAlignment="textStart"
			android:textColor="@color/buttonBackgroud"
			android:background="@android:color/white"
			android:id="@+id/updateDbButton" />
		<Button
			android:text="@string/exit"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:textAllCaps="false"
			android:textAlignment="textStart"
			android:textColor="@color/buttonBackgroud"
			android:background="@android:color/white"
			android:id="@+id/exitButton" />
		</LinearLayout>
</RelativeLayout>
